.homeScreen {
  /* This allows the body gradient to show through */
  background: transparent; 
  
  /* Centering Logic */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* Make it fill the whole screen */
  min-height: 100vh;
  width: 100%;
}

.chatBox {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.9); /* Subtle "Glass" effect */
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: red;
  font-size: 1.25rem;
  max-width: 80%;
  text-align: center;
}

.negative{
padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  background: linear-gradient(45deg, oklch(24.816% 0.00189 286.046), oklch(0.95 0.01 280));
  color: white;
  border-radius: 9999px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}

  @keyframes button-gradient-move {
  0% { 
    background-position: 0% 50%; 
    transform: scale(1.40);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
  15%{
    transform: scale(1.40)
  }
  20% { 
    
    transform: scale(1.20); /* The "Inhale" */
  }
  25%{
    transform: scale(1.55)
  }
  30%{
    transform: scale(1.40)
  }
  45%{
    transform: scale(1.40)
  }
  50% { 
    background-position: 100% 50%; 
    transform: scale(1.20); /* The "Inhale" */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Optional: slight lift */
  }
  55%{
    transform: scale(1.55)
  }
  60%{
    transform: scale(1.40)
  }
  100% { 
    background-position: 0% 50%; 
    transform: scale(1.40);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.positive{
padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  background: linear-gradient(135deg, oklch(83.275% 0.17151 82.058), oklch(63.112% 0.25465 29.786));
  background-size: 200% 200%;
  animation: button-gradient-move 3s ease infinite;
  color: white;
  border-radius: 9999px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;

}

.response {
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  background: linear-gradient(45deg, var(--background), oklch(0.95 0.01 280));
  color: white;
  border-radius: 9999px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}

.back{
    padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 9999px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}

.response:hover {
  transform: scale(1.05);
}