@import 'tailwindcss';


:root {
  --background: oklch(62.793% 0.25768 29.223);
  --foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(62.793% 0.25768 29.223);
  --muted: oklch(0.967 0.001 286.375);
  --border: oklch(0.92 0.004 286.32);
  --ring: oklch(0.871 0.006 286.286);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(62.793% 0.25768 29.223);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.006 286.033);
  --border: oklch(0.274 0.006 286.033);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --radius-lg: var(--radius);
}

@layer base {
  body {
    @apply m-0 text-foreground antialiased;
    font-family: sans-serif;
    background: linear-gradient(-45deg, var(--background), oklch(0.95 0.01 280), var(--secondary), var(--background));
    background-size: 400% 400%;
    animation: gradient-move 15s ease infinite;
    min-height: 100vh;
  }
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}